---
title: " [SV] 使用SystemVerilog编写测试平台 - 001 - 第一章 什么是Verification?"
date: 2019-06-03　18:30:00
categories:
  - SystemVerilog
tags:
  - SystemVerilog
  - Testbench
keywords: SV, SystemVerilog, Testbench, 验证, 测试平台
---

# 第一章 什么是Verification?

验证是证明隐藏在实现中的设计意图的一种方法，其目的就是要证明设计满足期望。

## 什么是Testbench
测试平台就是为了验证设计而搭建的一个环境，验证平台和被测设计相连，也可以理解为被测设计包裹在验证平台之内。被测设计一般被称之为dedsign under test/verification。

## 验证的重要性
- 70%左右的设计effort都在验证上面
- 验证是产品中至关重要的部分
- 减少验证时间
  - 并行
  - 抽象


  
